In [1]:
import glob
import matplotlib.pyplot as plt
import matplotlib
import matplotlib as mpl
import numpy as np
import os
import pandas as pd
import sys
from IPython.display import display

In [34]:
basedir = os.path.join('Y:\\', 'Dissertation')
languages = set()
repl_languages = set()
addl_languages = set()

# Get frequencies
freq = os.path.join(basedir, "count_evals", "wiki_top_3_per_algo.csv")
freq_wiki_df = pd.read_csv(freq, header=0)
for index, stuff in freq_wiki_df.iterrows():
        languages.add(stuff['Language'])
        
freq = os.path.join(basedir, "count_evals", "subs_top_3_per_algo.csv")
freq_subs_df = pd.read_csv(freq, header=0)
for index, stuff in freq_subs_df.iterrows():
        languages.add(stuff['Language'])

# Get replication
repl = os.path.join('Z:\\', 'Dissertation', "scores", "top_3_by_language.csv")
repl_df = pd.read_csv(repl, header=0)
for index, stuff in repl_df.iterrows():
    languages.add(stuff['Language'])
    repl_languages.add(stuff['Language'])
                
# Finally the additional datasets
addl = os.path.join(basedir, "scores", "top_3_per_algo.csv")
addl_df = pd.read_csv(addl, header=0)
for index, stuff in addl_df.iterrows():
        languages.add(stuff['Language'])
        addl_languages.add(stuff['Language'])

In [39]:
rows = list()
pd.options.mode.copy_on_write = True
for lang in languages:
    row = dict()
    row["Language"] = lang
    df_lang = freq_wiki_df.loc[freq_wiki_df['Language'] == lang]
    if len(df_lang) > 0:
        df_lang.sort_values(by=['Score',"Dimensions","Window"], ascending=[False, True, True], inplace=True)
        dim = df_lang['Dimensions'].iloc[0]
        win = df_lang['Window'].iloc[0]
        row["Frequency: Wikipedia"] = f'{dim}-{win}'
    else:
        row["Frequency: Wikipedia"] = ''
     
    if len(df_lang) > 0:
        df_lang = freq_subs_df.loc[freq_subs_df['Language'] == lang]
        df_lang.sort_values(by=['Score',"Dimensions","Window"], ascending=[False, True, True], inplace=True)
        dim = df_lang['Dimensions'].iloc[0]
        win = df_lang['Window'].iloc[0]
        row["Frequency: Subtitles"] = f'{dim}-{win}'
    else:
        row["Frequency: Subtitles"] = ''
    
    if lang in repl_languages:
        filename = f'{lang}_scores.csv'
        repl = os.path.join('Z:\\', 'Dissertation', "scores", filename)
        repl_df = pd.read_csv(repl, header=0)
    else:
        repl_df = pd.DataFrame()
        
    if lang in addl_languages:
        filename = f'{lang}_scores.csv'
        addl = os.path.join(basedir, "scores", filename)
        addl_df = pd.read_csv(addl, header=0)
    else:
        addl_df = pd.DataFrame()
     
    if repl_df.empty and addl_df.empty:
        row['Imagineability'] = ''
        row['Age of Acquisition'] = ''
        row['Valence'] = ''
        df_lang = pd.DataFrame()
    elif repl_df.empty:
        df_lang = addl_df
    elif addl_df.empty:
        df_lang = repl_df
    else:
        # Concatenate replication and additional datasets
        df_lang = pd.concat([repl_df, addl_df])
    
    # See if we have data for this language in the norms set
    if not df_lang.empty:
        # Look for imagine
        df_imag = df_lang[df_lang.Norm.str.match('^imagine$|^imagine.*_M.*', case=False)]
        if len(df_imag) > 0:
            df_imag.sort_values(by=['Score',"Dimensions","Window"], ascending=[False, True, True], inplace=True)
            dim = df_imag['Dimensions'].iloc[0]
            win = df_imag['Window'].iloc[0]
            row['Imagineability'] = f'{dim}-{win}'
        else:
            row['Imagineability'] = ''
            
        # Look for age of acquisition
        df_aoa = df_lang[df_lang.Norm.str.match('^aoa$|^aoa.*_M.*', case=False)]
        if len(df_aoa) > 0:
            df_aoa.sort_values(by=['Score',"Dimensions","Window"], ascending=[False, True, True], inplace=True)
            dim = df_aoa['Dimensions'].iloc[0]
            win = df_aoa['Window'].iloc[0]
            row['Age of Acquisition'] = f'{dim}-{win}'
        else:
            row['Age of Acquisition'] = ''
            
        # Look for valence
        df_val = df_lang[df_lang.Norm.str.match('^valence$|^valence.*_M.*', case=False)]
        if len(df_val) > 0:
            if lang == 'af': print(df_val)
            df_val.sort_values(by=['Score',"Dimensions","Window"], ascending=[False, True, True], inplace=True)
            dim = df_val['Dimensions'].iloc[0]
            win = df_val['Window'].iloc[0]
            row['Valence'] = f'{dim}-{win}'
        else:
            row['Valence'] = ''

        
    
    rows.append(row)
    
final_df = pd.DataFrame(rows)
final_df.sort_values(by=['Language'], ascending=[True], inplace=True)
final_df.columns = ['code', 'Frequency: Wikipedia','Frequency: Subtitles','Imagineability','Age of Acquisition','Valence']

code2lang = os.path.join(basedir, "geo", "code2lang.csv")
code_df = pd.read_csv(code2lang)

final_df = final_df.merge(code_df, on="code")
final_df = final_df.drop(columns=['code'])
final_df = final_df[['Language', 'Frequency: Wikipedia','Frequency: Subtitles','Imagineability','Age of Acquisition','Valence']]
file = os.path.join(basedir,"final_answer.csv")
final_df.to_csv(file)

In [40]:
with pd.option_context('display.max_rows', 60):
    display(final_df)

,Language,Frequency: Wikipedia,Frequency: Subtitles,Imagineability,Age of Acquisition,Valence
0,Afrikaans,50-3,300-6,,,
1,Arabic,50-5,50-5,200-1,200-1,
2,Bulgarian,50-1,100-2,,,
3,Bengali,50-3,100-1,,,
4,Breton,50-5,50-2,,,
5,Bosnian,200-1,300-1,,,
6,Catalan,200-1,100-1,,,
7,Czech,50-1,50-1,,,
8,Danish,500-1,500-1,,,
9,German,500-1,500-1,200-1,200-1,500-1
10,Greek,100-1,100-1,,,
11,English,500-6,500-1,500-4,500-3,500-3
12,Esperanto,50-1,100-1,,,
13,Spanish,100-1,50-1,200-1,300-2,500-4
14,Estonian,100-1,300-1,,,
15,Basque,100-3,500-3,,,
16,Persian,50-1,50-4,,,
17,Finnish,100-2,100-1,,,500-4
18,French,300-1,500-1,100-2,300-6,500-3
19,Galacian,100-1,500-1,,,
20,Hebrew,100-1,50-5,,,
21,Hindi,50-3,100-5,,,
22,Croatian,300-3,500-1,,,
23,Hungarian,100-6,100-2,,,
24,Armenian,50-4,100-3,,,
25,Indonesian,500-1,300-1,,,100-3
26,Icelandic,50-1,100-3,,,
27,Italian,300-1,50-1,300-2,500-6,
28,Japanese,,,300-5,200-6,
29,Georgian,50-3,50-6,,,
30,Kazakh,100-1,200-3,,,
31,Korean,50-2,300-1,,,
32,Lithuanian,50-1,500-5,,,
33,Latvian,50-1,300-1,,,
34,Macedonian,50-3,50-5,,,
35,Malayalam,50-3,50-6,,,
36,Maylay,200-2,200-1,,,
37,Dutch,500-1,500-1,500-1,100-1,100-4
38,Norwegian,50-1,500-1,,,
39,Polish,300-1,500-1,300-2,,500-2
40,Portuguese,100-1,100-1,300-1,500-1,100-3
41,Romanian,50-1,300-1,,,
42,Russian,100-4,100-1,200-2,300-6,
43,Sinhalese,50-3,50-2,,,
44,Slovak,100-2,300-1,,,
45,Slovenian,100-1,500-5,,,
46,Albanian,200-1,500-1,,,
47,Serbian,500-1,500-1,,,
48,Swedish,300-1,500-1,,,
49,Tamil,50-1,50-1,,,
50,Telugu,50-2,100-2,,,
51,Tagalog,50-4,300-2,,,
52,Turkish,50-1,500-1,,500-3,
53,Ukrainian,50-2,50-5,,,
54,Urdu,50-6,50-5,,,
55,Vietnamese,100-1,50-1,,,
56,Chinese,,,200-6,100-3,50-6